### Loading data

In [1]:
#Importing necessary libraries 
import pandas as pd

#Loading data
dfn=pd.read_csv("new_york_city.csv")
dfc=pd.read_csv("chicago.csv")
dfw=pd.read_csv("washington.csv")

In [2]:
#Inspecting newyork data
dfn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6816254 entries, 0 to 6816253
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   Start Time     object
 1   End Time       object
 2   Trip Duration  int64
 3   Start Station  object
 4   End Station    object
 5   User Type      object
 6   Gender         object
 7   Birth Year     float64
dtypes: float64(1), int64(1), object(6)
memory usage: 416.0+ MB

In [3]:
#Inspecting chicago data
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1551505 entries, 0 to 1551504
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Start Time     1551505 non-null  object
 1   End Time       1551505 non-null  object
 2   Trip Duration  1551505 non-null  int64
 3   Start Station  1551505 non-null  object
 4   End Station    1551505 non-null  object
 5   User Type      1551505 non-null  object
 6   Gender         1234638 non-null  object
 7   Birth Year     1234822 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 94.7+ MB

In [4]:
#Inspecting washington data
dfw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1751452 entries, 0 to 1751451
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   Start Time     object
 1   End Time       object
 2   Trip Duration  float64
 3   Start Station  object
 4   End Station    object
 5   User Type      object
dtypes: float64(1), object(5)
memory usage: 80.2+ MB

### Combining all three datasets together

In [5]:
#Combining all three datasets together
df=pd.concat([dfn, dfc,dfw], axis=0)

#Now converting the Start Time & End Time columns to datetime
df['Start Time']=pd.to_datetime(df['Start Time'])
df['End Time']=pd.to_datetime(df['End Time'])

In [6]:
#Inspecting new dataframe df's column types
df.dtypes

Start Time       datetime64[ns]
End Time         datetime64[ns]
Trip Duration           float64
Start Station            object
End Station              object
User Type                object
Gender                   object
Birth Year              float64
dtype: object

In [7]:
#Finding missing values in dataframe
df.isnull().sum()

#Not treating missing values as Gender & BirthYear are not part of the analysis.
#User Type has missing fields too, but not imputing it.

Start Time             0
End Time               0
Trip Duration          0
Start Station          0
End Station            0
User Type          15909
Gender           2736424
Birth Year       2713307
dtype: int64

In [8]:
#Finding duplicates
df.duplicated().sum()

917

In [9]:
#Dropping duplicates
df.drop_duplicates(inplace=True)

### 1.	What is the most popular month for start time?

In [10]:
df["Start Time"].dt.month_name().mode()[0]

'June'

### 2. What is the most popular day of week for start time?

In [11]:
df["Start Time"].dt.day_name().mode()[0]

'Wednesday'

### 3. What is the most popular hour of day for start time?

In [12]:
df["Start Time"].dt.hour.mode()[0]

17

### 4. What is the total trip duration and average trip duration?

In [13]:
#For better reporting purpose, the below output can be shown in minutes/hours
#Total Trip Duration (in seconds)
df["Trip Duration"].sum()

10212482562.555016

In [14]:
#Average Trip Duration (in seconds)
df["Trip Duration"].mean()

1009.3087394530161

### 5. What is the most popular start station and most popular end station?

In [15]:
#Most popular Start Station
df["Start Station"].mode()[0]

'Pershing Square North'

In [16]:
#Most popular End Station
df["End Station"].mode()[0]

'Pershing Square North'

### 6. What is the most popular trip?

In [17]:
#Creating a new column by combining Start and End stations.
df["Trip"]=df["Start Station"] +" to "+ df["End Station"]
df["Trip"].mode()[0]

'Lake Shore Dr & Monroe St to Streeter Dr & Grand Ave'

### 7. What are the counts of each user type?

In [18]:
df["User Type"].value_counts()

Subscriber    8639462
Customer      1462919
Dependent           4
Name: User Type, dtype: int64